* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.historia {
  padding: 2vw;
}

.historia h1 {
  margin-left: 3vw;
  font-family: "Lateef";
  font-size: 6vh;
}

.historia-item {
  padding: 2vh;
  display: flex;
  gap: 4vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
  align-items: center;
}

.historia-item img {
  width: 43vw;
  height: 34vw;
  border-radius: 5vh;
}

.historia-item p {
  text-align: justify;
  font-size: 2vw;
}

/* ===== RESPONSIVE ===== */

/* TABLET */
@media (max-width: 1024px) {
  .historia h1 {
    font-size: 5vh;
    margin-left: 2vw;
  }

  .historia-item {
    gap: 3vw;
  }

  .historia-item img {
    width: 48vw;
    height: auto;
  }

  .historia-item p {
    font-size: 2.5vw;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .historia {
    width: 100%;
    padding: 4vw;
  }

  .historia h1 {
    font-size: 4.5vh;
    margin-left: 0;
    margin-bottom: 4vh;
  }

  .historia-item {
    flex-direction: column;
    text-align: center;
    gap: 2vw;
  }

  .historia-item:nth-child(even) {
  flex-direction: column-reverse;
}

  .historia-item img {
    width: 80%;
    height: auto;
    border-radius: 20px;
  }

  .historia-item p {
    font-size: 16px;
    text-align: justify;
    padding: 0 10px;
  }
}

/* MOBILE PEQUEÑO */
@media (max-width: 480px) {
  .historia h1 {
    width: 100%;
    font-size: 4vh;
  }

  .historia-item p {
    font-size: 15px;
  }
}