.max-container {
    margin: 3vh;
    width: 97%;
}

.product-container-sup {
    position: relative;
    background-color: var(--fondo_products);
    display: flex;
    flex-direction: row;
    border-radius: 1vw;
    height: 25vw;
    width: 100%;
    gap: 2vw;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    height: 100%;
    width: 45%;
}

.product-info {
    font-size: 3.8vh;
    font-family: "BBH Bogle";
    font-weight: bold;
    color: var(--fondo_o_texto);
}

.product-info-recordatori {
    font-size: 5vh;
    font-family: 'Karantina';
    font-weight: 700;
    color: var(--fondo_o_texto);
}

.product-info-title {
    height: 100%;
    width: 45% ;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    margin-left: 3vh;
    color: var(--texto_products);
}

.product-container-bot {
    position: absolute;
    top: 61.5vh;
    left: 25vh;
    height: 2.8vw;
    width: 11vw;
    border-radius: 1.5vh;
    background-color: var(--texto_products  );
    color: var(--fondo_o_texto);
    font-size: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.product-container-img {
    position: absolute;
    top: 36vh;
    left: 58vw;
    display: flex;
    height: 30vw;
    width: 30vw;
}

.product-description-container {
    display: flex;
    height: 41vw;
    width: 97%;
    margin-top: 21vw;
    padding: 4vh;
    justify-content: space-between;
}

.product-description-container-title {
    display: flex;
    flex-direction: column;
}

.product-description-container-title-text {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 55%;
    margin-left: 3vw;
    margin-top: 1vw;
}

.product-description-container-title-text h4 {
    font-size: 1.8vw;
    color: var(--title_products);
    margin: 0%;
}

.product-description-container-title-text p {
    font-size: 1.1vw;
    font-weight: bold;
}

.product-description-container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-description-container-img img {
    height: 34vw;
    width: 36vw;
}

.product-description-container-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-description-container-title-text2 {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 55%;
    margin-top: 1vw;
}

.product-description-container-title-text2 h4 {
    font-size: 1.8vw;
    color: var(--title_products);
    text-align: end;
    margin: 0%;
}

.product-description-container-title-text2 p {
    font-size: 1.1vw;
    font-weight: bold;
}