* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.max-container {
    margin-left: 3vw;
    min-height: 100vh;
    width: 100%;
    background-color: var(--fondo1);
}

.max-container h1 {
    margin-left: 3.4vw;
    font-family: "Lateef";
    font-size: 6vh;
    margin-top: 1vw;
}

.title {
    margin-bottom: 1vw;
    font-size: 5vh;
    font-family: 'Lateef';
    font-weight: 700;
    color: var(--text_header);
}


.reconocimientos_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding: 3vh;
    padding-top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    height: 68vh;
    width: 100%;
}

.card img {
    width: 22vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    font-size: 4vh;
    color: var(--text_header);
}

.card p {
    font-size: 2vh;
    text-align: justify;
    padding: 2vh;
}