@import "styles/colors.css";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(61, 21, 13, 1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  height: 5vw;
  width: auto;
  margin: 1vh;
  margin-left: 5vw;
}

.nav_list {
  display: flex;
  gap: 3em;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-right: 4em;
  font-size: 1.3vw;
  font-family: "BBH Bogle";
  font-weight: bold;
}

.nav_list > li {
  background: linear-gradient(
    120deg,
    #8b6f1f,
    #f9e784,
    #d4af37,
    #fff1a8,
    #8b6f1f
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav_list > li:hover {
  background-position: right center;
  transition: all 0.5s ease;
}

.nav_list span {
  color: var(--button1);
}


/*Main*/
.main {
  background-color: var(--fondo1);
  width: 100%;
  height: 100%;
}


/* Footer */
.footer {
  background-color: var(--fondo_footer);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2vw 6vw;
}

.footer-column {
  width: 60%;
}

.footer-column h3 {
  padding: 2vh;
  border-left: 4px solid var(--fondo_o_texto);
}

.footer-column ul {
  padding: 2vh;
  margin: 0;
  border-left: 5px solid var(--fondo_o_texto);
}

.footer-column li {
  list-style: none;
  margin-bottom: 1vh;
  cursor: pointer;
}





/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
  display: flex;
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}

/* Contenido del modal */
.modal-content {
  position: fixed;
  top: 10vh;
  left: 60vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--fondo_modals);  
  border-top: 1vh solid #d4af37;
  border-radius: 1.5vw;
  padding: 1.5vw;
  max-width: 90%;
  max-height: 31%;
}

/* Grid de productos */
.productos-grid {
  display: grid;
  height: 3vh;
  gap: 3vh;
}

/* Tarjeta de producto */
.producto-card {
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.producto-card h3 {
  font-size: 1.1vw;
  font-weight: 2000;
}

.producto-card:hover {
  transform: translateY(-10px);
}

/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}




/* Contenido del modal nosotros */
.modal-overlayy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
  display: flex;
  z-index: 2000;
  animation: fadeIn 0.3s ease;
}

/* Contenido del modal */
.nosotros-modal {
  max-width: 800px;
  position: fixed;
  top: 10vh;
  left: 125vh;
  display: flex;
  position: relative;
  background: var(--fondo_modals);
  border-top: 1vh solid #d4af37;
  border-radius: 1.5vw;
  padding: 1.5vw;
  width: 11%;
  height: 14%;
}

.nosotros-options {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.nosotros-item {
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nosotros-item:hover {
  transform: translateY(-8px);
}

.nosotros-item h3 {
  font-size: 1.1vw;
  font-weight: 2000;
}

.modal-close {
  position: absolute;
  top: 1vw;
  right: 1.5vw;
  background: none;
  border: none;
  font-size: 3vw;
  color: #fff1a8;
cursor: pointer;
}